{% extends "site_base.html" %}

{% load string_filters %}

{% block head_title %}Page not found{% endblock %}

{% block left_column %}{% endblock %}

{% block body %}
<h2>Page not found</h2>
{% with "This is an ex-page, it has shuffled off its mortal coil...::Strange women lying in ponds distributing swords is no basis for a system of government!::We are no longer the knights who say ni! We are now the knights who say ekki-ekki-ekki-pitang-zoom-boing!" as silly_quotes %}
<p class="404-silly-quote">
{{ silly_quotes|split:"::"|random }}
</p>
{% endwith %}
<p>Oh no! The page requested could not be found. Here are some helpful links that might help:</p>
<ul>
    <li><a href="/" alt="PyTexas 2011">PyTexas 2011</a></li>
    <li><a href="http://wiki.pytexas.org" alt="PyTexas Wiki">PyTexas Wiki</a></li>
    <li><a href="http://blog.pytexas.org" alt="PyTexas Blog">PyTexas Blog</a></li>
</ul>
<p>If you feel like this page should exist and want to tell us about it, {{ "talk.to.us@pytexas.net"|obfuscate:"drop a line or two here" }}.</p>
{% endblock %}

{% block right_column %}{% endblock %}