<ul>
  <li><a href="{% url home %}">Home</a></li> 
  <li><a href="{% url sponsor %}" alt="Sponsor PyTexas 2011">Sponsor PyTexas 2011</a></li> 
  <li><a href="{% url registration %}" alt="Registration">Registration</a></li>
  <li><a href="{% url schedule_survey %}" alt="Schedule Survey">Schedule Survey</a></li>  
  <li><a href="{% url surveys %}" alt="PyTexas 2011 Surveys">PyTexas 2011 Surveys</a></li> 
  <li><a href="{% url community %}" alt="Community">Community</a></li> 
  <li><a href="{% url about %}" alt="About This Site">About This Site</a></li> 
  <li><a href="{% url prizes %}" alt="Prizes">Prizes</a></li> 
</ul>