<h2>PyTexas 2011</h2>
<h3>Platinum Sponsors</h3>
<div class="sponsor"> 
    <a href="http://bitbucket.org/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/LOGO_Bitbucket_thumb.png" alt="Bitbucket by Atlassian">
    </a> 
</div> 
<div class="sponsor"> 
    <a href="http://www.enthought.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/Enthought.jpg" alt="Enthought" width="160">
    </a> 
</div> 
<div class="sponsor"> 
    <a href="http://www.openstack.org/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/open-stack-cloud-computing-logo-2.png" alt="OpenStack"> 
    </a> 
</div> 
<div class="sponsor"> 
    <a href="https://snoball.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/snoball_front_logo.png" alt="snoball" width="160"> 
    </a> 
</div> 
<div class="sponsor"> 
    <a href="http://www.zeomega.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/ZeOmega-logo.png" alt="ZeOmega" width="160"> 
    </a> 
</div>
<h3 class="top-spacing">Silver Sponsors</h3>
<div class="sponsor"> 
    <a href="http://www.fishtechnology.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/PyTexas-FISH_LOGO.png" alt="Fish Technologies"> 
    </a> 
</div>
<div class="sponsor"> 
    <a href="http://developers.freshbooks.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/freshbooks-logo-160x80.gif" alt="FreshBooks"> 
    </a> 
</div>
<div class="sponsor"> 
    <a href="http://www.lunadatasolutions.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/luna_data_solutions.jpg" alt="Luna Data Solutions" width="160"> 
    </a> 
</div>
<div class="sponsor"> 
    <a href="http://http://www.wingware.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/wingware-logo-160x80.jpg" alt="Wingware IDE"> 
    </a> 
</div>
<h3 class="top-spacing">Prize Sponsors</h3>
<div class="sponsor"> 
    <a href="http://nostarch.com//">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/nsp_logo_long.png" alt="No Starch Press" width="160"> 
    </a> 
</div>
<div class="sponsor"> 
    <a href="http://oreilly.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/oreilly-logo-footer.gif" alt="O'Reilly Media"> 
    </a> 
</div>
<div class="sponsor"> 
    <a href="http://http://www.wingware.com/">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/wingware-logo-160x80.jpg" alt="Wingware IDE"> 
    </a> 
</div>
<h3 class="top-spacing">Partnerships</h3>
<div class="sponsor"> 
    <a href="http://www.campus2careers.com">
        <img src="http://bradallen137.webfactional.com/sponsor_logos/c2c-logo-small.png" alt="Campus2Careers" width="160"> 
    </a> 
</div>