{% extends "site_base.html" %}

{% block head_title %}About This Site{% endblock %}

{% block body_base %}
    {% block body %}
        <h2>About This Site</h2>

        <p>This site acts as the primary public facing website to the PyTexas Conference.
        It is built using the same Python-based Django/Pinax Symposion software used to create the 
        <a href="http://us.pycon.org">US PyCon 2011 website</a>, as well as
        <a href="http://djangocon.us/">DjangoCon 2011</a>
        and <a href="http://pyohio.org/">PyOhio 2011</a>. This will enable us
        to soon start enabling many of the same features as those websites,
        most importantly the talk schedule.
        </p>
        <p>
        Thanks go to Glen Zangirolami for all the technical setup of putting this
        site together, including creating developer environment VirtualBox machines to make it easy for
        others to contribute and test changes. Let us know if you're interested
        in helping out! (post to the PyTexas mailing list).
        </p>
        <p>
        Brad Allen is responsible for the site content, but is looking for volunteers
        to help out. Please contact him if you're interested!
        </p>
        <p>
        Finally, thanks go to RackSpace for agreeing to donate RackSpace Cloud Server
        resources to host the PyTexas site.
        </p>

        <h3>About the Registration and Survey Forms</h3>

        <p>The forms on this site are built using Google Docs, which means any 
        data you fill out will be stored on Google servers. We're using Google Doc
        forms as a "good enough" tool to reduce effort on the part of PyTexas organizers.</p>

        <p>A note about email addresses: your email address will be kept private, 
        only accessible to a limited number of PyTexas organizers at the discretion 
        of the chairman (Brad Allen). Your email address will be utilized as a unique key 
        across surveys; please try to be consistent and use only a single email 
        address on all the surveys, or when updating the survey. If you make a 
        mistake on this, please contact Brad Allen.</p>

        <h3>Contact Us</h3>

        <p>Please feel free to email Brad Allen using his gmail account (bradallen137). He uses the same account name for Twitter, Google+, LinkedIn, and other public facing websites.</p>

        <p>You may also reach the larger Texas Python community by joining the mailing list, which is used for general community discussions. Python-oriented job postings are also welcome on the list.</p>
    {% endblock %}
{% endblock %}