{% load analytics_tags i18n markitup_tags %}
{% load account_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head> 
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/> 
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }}: {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
    <!-- hack to make IE able to apply CSS to elements that it doesn't usually know about. See http://code.google.com/p/html5shim/ -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}pinax/css/tabs.css" />
    {% markitup_css %}
    {% block css_framework %}{% endblock %}
    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css">
</head> 

<body class="{% block body_class %}{% endblock %} {% if LANGUAGE_BIDI %}bidi{% endif %}" id="{% block body_id %}{% endblock %}"> 
    <div class="wrapper">
        <header>
            {% block header %}
                <h1><a href="/" alt="{{ SITE_NAME }}">PyTexas</a></h1>
            {% endblock %}
            <p class="description">
                {% block description %}{% endblock %}
            </p>
        </header>
        <nav>
            {% block nav %}{% endblock %}
            <div class="clear"></div>
        </nav>
        <div class="columns">
            {% block left_column %}
            <div class="left-column">
              <a href="http://tamu.edu"><img class="thumbnail" width="150" height="86" src="{{ STATIC_URL }}img/Texas-A-M-University-campus-in-College-Station_slide.jpg" /><a/>
              <p class="caption">Thank you Texas A&amp;M!</p>
              <h2>External PyTexas Links</h2>
              <ul>
                <li><a href="https://spreadsheets.google.com/spreadsheet/ccc?key=0AhPmDnJC8EfldDFiTldOWEctQzNVVkV0ZC15ZXR2bGc&amp;hl=en_US">PyTexas 2011 Schedule</a></li>
                <li><a href="http://wiki.pytexas.org/VenueInfo2011">Location Details for PyTexas 2011</a></li>
                <li><a href="http://pytexas.org/PyTexas2011">PyTexas 2011 Wiki</a></li>
                <li><a href="http://wiki.pytexas.org/PyTexas">PyTexas History</a></li>
              </ul>
              <h2>PyTexas Wiki</h2>
              <ul>
                <li><a href="http://wiki.pytexas.org/">PyTexas Wiki Home</a></li>
                <li><a href="http://wiki.pytexas.org/HowToEditPyTexasWiki">How to Edit PyTexas Wiki</a></li>
                <li><a href="http://wiki.pytexas.org/PythonEmployers">Area Python Employers</a></li>
                <li><a href="http://wiki.pytexas.org/JoinTexasPythonCommunity">Texas Python User Groups</a></li>
              </ul>
              {% block extra_left_sidebar %}{% endblock %}
            </div>
            {% endblock %}
            <div class="center-column">
                {% block body_base %}
                    {% block body %}Content goes here{% endblock %}
                {% endblock %}
            </div>
            {% block right_column %}
            <div class="right-column">
              {% include "_sponsors.html" %}
            </div>
            {% endblock %}
        </div>
        <div id="footer">
            {% block footer %}{% endblock %}
        </div>
    </div>
    {% block extra_body_base %}
        {% block extra_body %}{% endblock %}
    {% endblock %}
</body> 
</html>