{% extends "site_base.html" %}

{% block head_title %}Community{% endblock %}

{% block body_class %}community{% endblock %}

{% block body_base %}
    {% block body %}
        <h2>Community</h2>
        <p>The Texas Python Community offers many ways for you to get involved, help out, learn, and have fun.</p>

        <h3>JOIN THE TEXAS PYTHON EMAIL DISCUSSION LIST</h3>

        <p>You can join the statewide PyTexas mailing list, where you suggest ideas, provide feedback, and join the discussion.</p>

        <h3>JOIN A LOCAL USER GROUP</h3>

        <p>The Texas area has several user groups:</p>
        <ul>
        <li><a href="http://www.meetup.com/austinpython/" alt="Austin User Group">Austin User Group</a> meets on the 2nd Wednesdays</li>
        <li><a href="http://www.meetup.com/austinwebpythonusergroup/" alt="Austin Web Python User's Group">Austin Web Python User's Group</a> meets on the 4th Thursdays</li>
        <li><a href="http://www.meetup.com/python-14/" alt="Houston Python User Group">Houston Python User Group</a></li>
        <li>The <a href="http://dfwpython.blogspot.com/" alt="DFW Pythoneers">DFW Pythoneers</a> meets 2nd Saturdays for presentations/coding and 4th Thursdays for dinner and drinks.</li>
        <li>College Station is forming a new user group; you can inquire on the Texas Python mailing list.</li>
        </ul>

        <p>If you're interested in starting a user group in another city, please raise the issue on the Texas Python mailing list.</p>

        <h3>VOLUNTEER TO HELP THE PYTEXAS CONFERENCE</h3>

        <p>There are many opportunities to volunteer to help out the PyTexas conference. If you're interested, please join the <a href="http://mail.python.org/mailman/listinfo/texas%20mailing%20list" alt="PyTexas mailing list">PyTexas mailing list</a> and contact <a href="http://wiki.pytexas.org/BradAllen">BradAllen</a>.  Here are some options:</p>
        <ul>
        <li>Plan to give a talk/presentation, either a 50 min presentation or a 5 minute lightning talk</li>
        <li>Help with publicity</li>
        <li>Create a flyer or distribute an existing one</li>
        <li>Use social networking to help with outreach to potential attendees and sponsors</li>
        <li>Help with tutoring beginners (for example see what we did at the <a href="http://wiki.pytexas.org/PythonTeachIn2010" alt="PythonTeachIn2010">PythonTeachIn2010</a>)</li>
        <li>Act as a session chair to help our talks start and end on time.</li>
        </ul>

        <h3>BENEFITS</h3>

        <p>Those of us who enjoy Python programming, or just find it a practical tool, can benefit from knowing one another. Python is a kind of "gateway drug" into many technologies and there are always new things to learn. Here are a few benefits of creating an active local community:</p>
        <ul>
        <li>professional development</li>
        <li>knowledge sharing</li>
        <li>great conferences like <a href="/" alt="PyTexas">PyTexas</a></li>
        <li>interesting people with which to socialize</li>
        <li>a thriving local community gives employers confidence to use Python</li>
        </ul>
    {% endblock %}
{% endblock %}