{% extends "site_base.html" %}

{% load cache %}
{% load get_rss from rss_tags %}

{% block head_title %}Home{% endblock %}


{% block body %}
<p><img src="http://wiki.pytexas.org/PyTexas2011?action=AttachFile&do=get&target=Texas-A-M-University-campus-in-College-Station_slide.jpg" alt="PyTexas 2011" width="350px" /></p>
<p>
PyTexas 2011 promises to be the best ever, with registration at around 150,
up from 94 attendees last year. This includes 124 confirmed attendees, and 26
tentative.
</p>
<p>
If you're thinking about attending, check out the
<a href="http://blog.pytexas.org/2011/08/10-reasons-you-should-attend-pytexas.html">
10 Reasons You Should Attend PyTexas
</a>, and don't forget to register! The free PyTexas t-shirts are only available
to those who pre-register.

</p>
{% endblock %}


{% block extra_left_sidebar %}
{% cache 500 rss_display %}
    <h2>Blog</h2>
    <div class="blog-feed">
    {% get_rss "http://pytexas.blogspot.com/feeds/posts/default?alt=rss" as rss %}
    {% for entry in rss.entries|slice:":3" %}
        <h4><a href="{{ entry.link }}">{{ entry.title }}</a></h4>
        <p class="meta">
            By {{ entry.author_detail.name }}
            <span class="date">
                 on {{ entry.updated_parsed|date:"D N jS Y" }}
            </span>
        </p>
    {% endfor %}
    </div>
{% endcache %}
{% endblock %}