{% extends "site_base.html" %}

{% load cache %}
{% load get_rss from rss_tags %}

{% block head_title %}Home{% endblock %}


{% block body %}

<h2>PyTexas Is Nigh</h2>
<p>
Come all ye geeks of good cheer,<br/>
gather, rally round, and volunteer,<br/>
all coders and bag stuffers<br/>
both young and old duffers,<br/>
rise up, rise up, for PyTexas looms near.
</p>
<img src="http://bradallen137.webfactional.com/pytexas/woodenRabbit_plain.png"
    height="270"/>


<h2>Registration is Up!</h2>
<p>
PyTexas 2011 promises to be the best ever, with registration at around 150,
up from 94 attendees last year. This includes 124 confirmed attendees, and 26
tentative.
</p>
<p>
If you're thinking about attending, check out the
<a href="http://blog.pytexas.org/2011/08/10-reasons-you-should-attend-pytexas.html">
10 Reasons You Should Attend PyTexas
</a>, and don't forget to register! The free PyTexas t-shirts are only available
to those who pre-register.

<h2>New PyTexas Project Tracker</h2>
<p>
Check out the new <a href="http://pm.pytexas.org/">Project Tracker</a>
to make it easy for volunteers to see what needs to be done. Join us!
</p>


{% endblock %}


{% block extra_left_sidebar %}
{% cache 500 rss_display %}
    <h2>Blog</h2>
    <div class="blog-feed">
    {% get_rss "http://pytexas.blogspot.com/feeds/posts/default?alt=rss" as rss %}
    {% for entry in rss.entries|slice:":3" %}
        <h4><a href="{{ entry.link }}">{{ entry.title }}</a></h4>
        <p class="meta">
            By {{ entry.author_detail.name }}
            <span class="date">
                 on {{ entry.updated_parsed|date:"D N jS Y" }}
            </span>
        </p>
    {% endfor %}
    </div>
{% endcache %}
{% endblock %}