{% extends "site_base.html" %}

{% block head_title %}Prizes{% endblock %}

{% block body_base %}
    {% block body %}
        <h2>Prizes</h2>

        <p>Each attendee at PyTexas will be given a set of printed tickets to divvy up among the prize drawing boxes, with one box for each prize, thereby allowing each attendee to weighting the odds toward prizes of particular interest.</p>

        <h3>No Starch Press Prizes</h3>

        <p>The following print books will be available as prizes from No Starch:</p>
        <ul>
        <li>The Book of CSS3</li>
        <li>Eloquent JavaScript</li>
        <li>Gray Hat Python</li>
        <li>Learn You a Haskell for Great Good!</li>
        <li>The Essential Blender</li>
        <li>Code Craft</li>
        <li>The Manga Guide to Databases</li>
        </ul>

        <p>No Starch is also sending along some cool swag in the form of t-shirts and shot glasses. Those will be made available on the swag table on a first come, first serve basis.</p>

        <h3>O'Reilly Media Prizes</h3>

        <p>One free O'Reilly ebook per attendee. You'll receive one free ebook of your choosing from the O'Reilly complete catalog. O'Reilly ebooks are DRM free, and you can read them on a wide variety of devices. Thanks to O'Reilly Media for this generous gift to each PyTexas attendee!</p>

        <p>Print books will be handed out during the prize drawings at PyTexas 2011; the following books are on order to be included:</p>
        <ul>
        <li>HTML5: Up and Running, 1Ed</li>
        <li>Gray Hat Python, 1Ed</li>
        <li>Linux Device Drivers, 3Ed</li>
        <li>Bioinformatics Programming Using Python, 1Ed</li>
        <li>Head First Python, 1Ed</li>
        <li>Jenkins: The Definitive Guide, 1Ed</li>
        <li>Natural Language Processing with Python, 1Ed</li>
        <li>Think Stats, 1Ed</li>
        <li>Programming Google App Engine, 1Ed</li>
        <li>97 Things Every Programmer Should Know, 1Ed</li>
        <li>Real World Instrumentation with Python, 1Ed</li>
        <li>Python Cookbook, 2Ed</li>
        <li>Programming Python, 4Ed</li>
        <li>Practical Programming, 1Ed</li>
        </ul>

        <h3>Wingware Prizes</h3>

        <p>One license for Wing IDE will be given out as a prize.</p>
    {% endblock %}
{% endblock %}