{% extends "site_base.html" %}

{% block head_title %}Schedule Survey{% endblock %}

{% block body_base %}
    {% block body %}
        <h2>PyTexas 2011 Schedule Survey</h2>

        <p>We'd like to tune the PyTexas 2011 schedule based on your feedback. Entering your name and email address is optional, and it's on the honor system for you to take it only once.</p> 

        <p>Please try avoid taking this survey twice (though you may update your responses later if you bookmark your form submission link).</p>

        <p>If you think you might need to change your answers later, you can bookmark the link "Edit your response" after you press Submit. Returning to that link gives you a chance to modify the answers you previously made.</p>

        <p>For those curious about how the data such as email addresses will be collected, stored, and handled, please see <a href="http://pytexas.blogspot.com/p/about-this-site.html">About This Site</a>.</p>

        <iframe frameborder="0" height="4254" marginheight="0" marginwidth="0" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFFTbV9ETTJRWXF0UXpteDdQOTJuR0E6MQ" width="450">&amp;amp;lt;p&amp;amp;gt;&amp;amp;amp;amp;amp;amp;lt;p&amp;amp;amp;amp;amp;amp;gt;Loading...&amp;amp;amp;amp;amp;amp;lt;/p&amp;amp;amp;amp;amp;amp;gt;&amp;amp;lt;/p&amp;amp;gt;</iframe>

        <p>Thanks for the feedback! Please note:</p>
        <p>If you want to be able to edit your survey responses later, you can bookmark the link "Edit your response" after you press Submit. &nbsp;(You might have to scroll back to the top of the page to see this link.)</p>
    {% endblock %}
{% endblock %}