{% extends "base.html" %}

{% block extra_body_base %}
    <script type="text/javascript" charset="utf-8">
      $(function(){
          $("#id_email").focus();
          $(function () {
              if(('ul#messages').length > 0) {
                  setTimeout(function() {
                      $('ul#messages').fadeOut(3000);
                  }, 2000 );
              }
          });
      });
    </script>
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block description %}
PyTexas 2011, the fourth annual Python programming conference for Texas and the surrounding region, will take place Saturday September 10 and Sunday September 11, 2011 at Texas A&M University in College Station, Texas.
{% endblock %}

{% block nav %}{% include "_nav.html" %}{% endblock %}

{% block footer %}{% include "_footer.html" %}{% endblock %}