{% extends "site_base.html" %}

{% block head_title %}Sponsor PyTexas 2011{% endblock %}

{% block body_base %}
    {% block body %}
        <h2>Sponsor PyTexas 2011</h2>

        <p>Please consider sponsoring <a href="/" alt="PyTexas 2011">PyTexas 2011</a> though a financial contribution to the Python Software Foundation (PSF). Your contribution helps the Texas area Python community build a better conference, while also providing a targeted marketing and community outreach opportunity.</p>

        <p>To learn about the benefits and options involved in PyTexas 2011 sponsorship, please see the <a href="http://wiki.pytexas.org/Sponsorship2011?action=AttachFile&do=view&target=PyTexas_2011_Sponsor_Prospectus_v2.pdf" alt="PyTexas 2011 Sponsor Prospectus">PyTexas 2011 Sponsor Prospectus</a>.</p>

        <h3>How to Pay</h3>

        <p>Payments are handled through the Python Software Foundation. To make a financial contribution, please visit the <a href="http://psfmember.org/d/civicrm/contribute/transact?reset=1&id=3" alt="PSF's PyTexas 2011 payment gateway">PSF's PyTexas 2011 payment gateway</a>. No login will be required.</p>

        <h3>Time is running out!</h3>

        <p>Platinum Sponsorship is now closed since the t-shirt design is now finalized, but it's not too late to increase visibility for your organization through a Gold or Silver Sponsorship. Your logo will be visible on the PyTexas site for registration and surveys. Registration started on Monday, August 8, and is now in full swing. We have also have several <A href="{% url registration %}">upcoming surveys planned.</a></p>

        <p>Sponsoring is easy. If you have any questions, please don't hesitate to contact <a href="http://wiki.pytexas.org/BradAllen" alt="Brad Allen">Brad Allen</a>.</p>

        <h3>What About Prize Donations?</h3>

        <p>We neglected to include a "Prize Level" in our sponsorship prospectus. If your company has prizes to offer to the PyTexas raffle instead of direct financial contributions, we will add your logo to the site in a "Prize Sponsors" section of the sidebar.  In past years, popular raffle prizes included technical books (both paper and ebook), as well as commercial software licenses.</p>

        <h3>Send Us Your Logo</h3>

        <p>For the sponsor logo we place on the PyTexas website, we need a transparent PNG, JPG, or GIF  sized 160x80. Transparency is important in case we need to display your logo on a non-white background.</p>

        <p>For the Platinum Sponsor logos on the back of the t-shirt, we need a one-color high resolution EPS or SVG file.</p>

        <p>Logos should be emailed to <a href="http://wiki.pytexas.org/BradAllen" alt="Brad Allen">Brad Allen</a>.</p>
    {% endblock %}
{% endblock %}