{% extends "site_base.html" %}

{% block body_base %}
    {% block body %}
        <h2>PyTexas 2011 Surveys</h2>
        <h3>Schedule Survey</h3>

        <p>This survey is not yet ready. It will help us which talks will be most popular and how to schedule them.</p>

        <h3>Skills and Interests Survey</h3>

        <p>This survey is not yet ready. It will be designed to help with planning content for tutorials and workshops.</p>

        <h3>Sponsor Survey</h3>

        <p>This survey is not ready yet. It will be used to learn details about sponsor needs and interests.</p>

        <h3>O'Reilly Media Survey</h3>

        <p>Help us pick out the O'Reilly book prizes with <a href="http://pytexas.blogspot.com/p/oreilly-survey.html">this survey</a>!</p>
    {% endblock %}
{% endblock %}